<mat-nav-list style="width: 100%">
  <div class="close" style="width: 100%">
    <button
      style="margin-left: 85%"
      mat-icon-button
      color="primary"
      (click)="closeSidenav()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <a
    mat-list-item
    routerLink="/en/welcome"
    (click)="changeActiveTab('home'); scrollTO('home')"
  >
    <span>Home</span>
  </a>
  <a
    mat-list-item
    routerLink="/en/welcome"
    (click)="changeActiveTab('service'); scrollTO('services')"
  >
    <span>Services</span>
  </a>
  <a
    mat-list-item
    routerLink="/en/welcome"
    (click)="changeActiveTab('contact'); scrollTO('contact')"
  >
    <span>Contact Us</span>
  </a>
  <a mat-list-item routerLink="/en/auth/login">
    <mat-icon color="primary" style="margin-right: 0.25rem">login</mat-icon>
    <span>Log In</span>
  </a>
</mat-nav-list>
