<section class="contact-us" id="contact">
  <br />
  <br />
  <br />
  <mat-card class="contact-form">
    <mat-card-title style="margin-bottom: 2rem">Contact Us</mat-card-title>
    <form action=".">
      <mat-form-field appearance="outline" color="white">
        <mat-label>Your email</mat-label>
        <input
          name="userEmail"
          matInput
          placeholder="user@domain.com"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" color="white">
        <mat-label>Your Name</mat-label>
        <input name="userEmail" matInput placeholder="Your Name*" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="white">
        <mat-label>Subject</mat-label>
        <input name="subject" matInput placeholder="Subject" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput rows="5" required></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        type="button"
        color="primary"
        style="font-size: 1.1rem; margin-left: 73%"
      >
        Send
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card>
  <img
    src="/assets/img/contact-us.webp"
    alt="contact"
    class="desk"
    style="max-width: 350px; max-height: 350px; margin-left: 2rem"
  />
</section>
