<mat-toolbar style="background: rgba(0, 0, 0, 0.04)">
  <h2>My Courses {{ title | async }}</h2>
</mat-toolbar>
<div class="mycourses-container">
  <div class="class-grid">
    <button
      *ngFor="let course of coursesList"
      routerLink="."
      class="class-item"
      mat-raised-button
      matBadge="{{ course.notifications ? course.notifications : '' }}"
      matBadgePosition="after"
      matBadgeColor="warn"
      (click)="sendMessage()"
    >
      <p>{{ course.title }}</p>
      <p>online: {{ course.online }}</p>
    </button>
  </div>
</div>
