<section class="banner" id="home">
  <div class="message">
    <h1 class="welcome-title">
      Welcome To
      <span class="imp underline">Nibras</span>
    </h1>
    <p class="message-content">
      The best <strong class="imp">Online Eductaional Environment</strong>, with
      an integrated and easy-to-use set of
      <span class="imp">cloud services</span> and
      <span class="imp">content creating tools</span> for leveraging the online
      eductaional process.
    </p>
    <br />
    <button mat-raised-button color="primary" (click)="scrollTO('plan')">
      Get Started
    </button>
  </div>
  <img
    class="banner-img"
    src="../../../../assets/img/banner.webp"
    alt="banner image"
  />
</section>
