.class-header {
  background-color: rgb(var(--color-primary));
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  align-items: center;
  width: 100%;
  padding: 0px;
  padding: 0em 0.5em;
  position: fixed;
  z-index: 999;
  color: white;
}

a {
  text-decoration: none;
  padding: 0.25em 1em;
  border-radius: 999px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease all;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.2rem;
}
